@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inconsolata:wght@600&family=Montserrat:ital,wght@0,500;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700;800;900&family=Poppins:wght@400;500;600;700;800;900&display=swap');


body {
    /* background-color: #1d1f28 !important; */
    /* background-color: #191a1a; */
    background-color: #0a0d1b;
    font-family: 'Inconsolata', monospace;
    line-height: 1.5em;
    padding: 1em;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
}

.img-head{
    text-align: center;
}

@media only screen and (max-width:500px){
    img{
        width: 350px;
    }
}

.slash{
    color: red;
}

.tag{
    color: #ff5555;
    /* background-color: #3d4361; */
}

.user, .password{
    font-family: monospace;
    font-size: medium;
    color: rgb(255, 89, 89);
}

.navbar .container {
    padding: 8px 0;
    font-size: 15px;
}

.warning{
    font-family: inter, sans-serif;
    font-weight: 600;
    color: red;
}

h2 {
    font-size: 3rem;
}

h2 a{
    font-family: inter, sans-serif;
    font-weight: 600;
    color: #e5d09a;
}

h2 a:hover{
    color: red;
}

.link{
    list-style-type: none;
}

blockquote {
    border-left: 5px solid red;
    background: #545454;
    padding-left: 1rem;
    /* color: var(--blockquote-text-color); */
}

nav {
    top: 0;
    /* background-color: var(--background); */
    text-align: center;
    color: var(--foreground);
    border-bottom: 1px dashed rgb(153, 153, 153);
    padding-bottom: 1em;
    font-size: 0.95em
}

nav > a{
    font-family: inter, sans-serif;
    font-weight: 500;
    /* font-size: 15px; */
    text-decoration: none;
    color: #e5d09a ;
}

nav > a:hover{
    color: black;
    background-color: #f66;
}

li b {
    color: #e5d09a;
}
li a {
    color: #f66;
}
li a:hover{
    color: black;
    background-color: #f66;
}

.navbar-dark .navbar-nav .nav-link{
    margin-left: 15px;
    font-weight: bold;
    color: rgb(221, 221, 221);
    font-family: monospace;
    text-shadow:  #2bff00 1px 1px 10px;
    font-size: 20px;
}

.navbar-dark .navbar-brand {
    color: rgb(221, 221, 221);
}

.navbar-brand{
    margin-left: 15px;
    font-weight:bold;
    font-family: monospace;
    text-shadow: #44FF00 1px 1px 10px;
    font-size: 20px;
}

h3 .name {
    font-family: inter, sans-serif;
    font-weight: 700;
    /* font-size: 50px; */
    color: red;
    text-align: center;
}

.name{
    font-family: inter, sans-serif;
    font-weight: 700;
    /* font-size: 50px; */
    color: red;
    text-align: center;
}

.text{
    margin-top: 1rem;
    color: #e5d09a;
}

.icon {
    padding: 3px;
    color:aliceblue
}

.badge{
    text-align: center;
}

p{
    color: #e5d09a;
}

a {
    text-decoration: none;
}

.archive{
    color: #e5d09a;
}

.list{
    color: red;
}

.scope{
    font-family: inter, sans-serif;
    border-bottom: 1px solid rgb(153, 153, 153);
    border-top: 1px solid rgb(139, 135, 135);
    font-weight: 600;
    color: #00ffd0;
    /* font-size: 20px;
    font-weight: bold; */
}

.sosmed{
    text-align: center;
    color: #e5d09a;

}

footer{
    border-top: 1px dashed gray;
}
/* .container pre {
    /* overflow-x: auto; */
    /* display: block; */
    /* background-color: #2b2b2b; */
    /* color: #fffffc; */
    /* font-family: 'Times New Roman', Times, serif; */
    /* line-height: 1.428571429; */
    /* word-break: break-all; */
    /* padding-right: 20px; */
.terminal{
    color: rgb(255, 44, 44);
}

.victims{
    color: aqua;
}

.root{
    color:rgb(245, 0, 49);
}
.rooted{
    text-align: center;
    color: red;
}

section pre{
    width: auto;
    overflow: 20px;
    color: white;
    background-color: #2b2e2e;
}
pre{
    padding-left: -40px;
}

code span{
    color:rgb(185, 185, 185);
    /* border-left: 100px; */
    padding-left: 100px;
}
/* pre code{
    text-align: left;
} */

/* code {
    color: var(--code-text-color);
    background-color: var(--code-background-color);
    padding: 2px 4px;
    border-radius: white;
    font-family: var(--code-font-family);
} */